@inject IAuthService authService

@{
    ViewData["IsAuthenticated"] = Context.Session.Keys.Contains("CurrentUser");

    var currentUser = Context.Session.Keys.Contains("CurrentUser") ? authService.CurrentUser : null;
    ViewData["IsAdmin"] = currentUser?.UserType == UserType.Admin;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AceAttitude.Data.Models
@model Lecture

<body>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Title: @Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-body-secondary">Assignment: @Model.TextFilePath</small></p>
            <p class="card-text"><small class="text-body-secondary">Video: @Model.VideoFilePath</small></p>

            @if (currentUser != null && currentUser.Id == Model.Course.TeacherId)
            {
                <a asp-controller="Lecture" asp-action="EditLecture" asp-route-courseId="@Model.CourseId" asp-route-lectureId="@Model.Id" class="btn btn-warning">Edit</a>
            }
            @if (currentUser != null && (currentUser.Id == Model.Course.TeacherId || currentUser.UserType == UserType.Admin))
            {
                <a asp-controller="Lecture" asp-action="DeleteLecture" asp-route-courseId="@Model.CourseId" asp-route-lectureId="@Model.Id" class="btn btn-danger">Delete</a>
            }
        </div>
    </div>

    <div>
        <!-- Convert video file path to YouTube embed URL -->
        @{
            string embedUrl = "";
            if (Model.VideoFilePath != null)
            {
                embedUrl = Model.VideoFilePath.Replace("watch?v=", "embed/") ;
                var random = string.Empty;  
            }
            else
            {
                embedUrl = "https://www.youtube.com/embed/yqrAPOZxgzU";
            }

        }


                        <div class="video-container">
                <iframe width="560" height="315" src="@embedUrl" frameborder="0" allowfullscreen></iframe>
            </div>





        <!-- Embed YouTube video using the generated URL -->


        <div class="card" style="width: 18rem;">
            <img src="~/images/assignment.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Assignment</h5>

                <a asp-controller="Lecture" asp-action="GetAssignmentFile" asp-route-lectureId="@Model.Id" asp-route-courseId="@Model.CourseId" class="btn btn-primary">Download</a>
                <h5>Upload an assignment:</h5>
                <form asp-controller="Lecture" asp-action="AddAssignment" asp-route-lectureId="@Model.Id" asp-route-courseId="@Model.CourseId" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <button type="submit">Upload</button>
                </form>

         
                <h5>Submit an assignment:</h5>
                <form asp-controller="Lecture" asp-action="SubmitAssignment" asp-route-lectureId="@Model.Id" asp-route-courseId="@Model.CourseId" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
