@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AceAttitude.Data.Models
@model Course;



<body>
    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-body-secondary">@Model.Level</small></p>
            <p class="card-text"><small class="text-body-secondary">@Model.AgeGroup</small></p>
            <p class="card-text"><small class="text-body-secondary">Teacher: @Model.Teacher.User.FirstName @Model.Teacher.User.LastName</small></p>
        </div>
    </div>

</body>
