
@{
    ViewData["Title"] = "Course Details";
    Layout = "_Layout";
}

@inject IAuthService AuthService

@{
    ViewData["IsAuthenticated"] = Context.Session.Keys.Contains("CurrentUser");

    var currentUser = Context.Session.Keys.Contains("CurrentUser") ? AuthService.CurrentUser : null;
    ViewData["IsAdmin"] = currentUser?.UserType == UserType.Admin;
    ViewData["IsTeacher"] = currentUser?.UserType == UserType.Teacher;
    ViewData["IsStudent"] = currentUser?.UserType == UserType.Student;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AceAttitude.Data.Models
@model Course;



<body>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-body-secondary">@Model.Level</small></p>
            <p class="card-text"><small class="text-body-secondary">@Model.AgeGroup</small></p>
            <p class="card-text"><small class="text-body-secondary">Teacher: @Model.Teacher.User.FirstName @Model.Teacher.User.LastName</small></p>
        </div>
    </div>

    <div class="comment-section">
        <h3>Comments:</h3>
        @foreach (var comment in Model.Comments)
        {
            if (!comment.DeletedOn.HasValue)
            {
                <div class="card comment-card">
                    <div class="card-body">
                        <h5 class="card-title">@comment.User.FirstName @comment.User.LastName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date: @comment.CreatedOn</h6>
                        <p class="card-text">@comment.Content</p>
                        <div class="likes-box">
                            <a asp-controller="Comment" asp-action="LikeComment" asp-route-id="@Model.Id" asp-route-commentId="@comment.Id" class="like-btn">Likes: @comment.Likes</a>
                        </div>
@*                         @if (currentUser.Id == comment.ApplicationUserId)
                        {
                            <a asp-controller="Comment" asp-action="EditComment" asp-route-id="@Model.Id" asp-route-commentId="@comment.Id" class="btn btn-warning">Edit</a>
                        }
                        @if (currentUser.Id == comment.ApplicationUserId || currentUser.UserType == UserType.Admin)
                        {
                            <a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@Model.Id" asp-route-commentId="@comment.Id" class="btn btn-danger">Delete</a>
                        } *@
                    </div>
                </div>
            }
        }
    </div>
</body>
