@{
    ViewData["Title"] = "Course Details";
    Layout = "_Layout";
}

@inject IAuthService authService

@{
    ViewData["IsAuthenticated"] = Context.Session.Keys.Contains("CurrentUser");

    var currentUser = Context.Session.Keys.Contains("CurrentUser") ? authService.CurrentUser : null;
    ViewData["IsAdmin"] = currentUser?.UserType == UserType.Admin;
    ViewData["IsStudent"] = currentUser?.UserType == UserType.Student;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AceAttitude.Data.Models
@model Course;

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/c21727a50d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-body-secondary">@Model.Level</small></p>
            <p class="card-text"><small class="text-body-secondary">@Model.AgeGroup</small></p>
            <p class="card-text"><small class="text-body-secondary">Teacher: @Model.Teacher.User.FirstName @Model.Teacher.User.LastName</small></p>
        </div>
    </div>

    @if ((bool)ViewData["IsAuthenticated"])
    {
        if (!((bool)ViewData["IsStudent"] && !(Model.StudentCourses.Any(sc => sc.CourseId == Model.Id && sc.StudentId == currentUser.Id))))
        {
            <h3>Lectures:</h3>
            <div class="list-group">
                @foreach (var lecture in Model.Lectures)
                {
                    if (!lecture.DeletedOn.HasValue)
                    {
                        <a asp-controller="Lecture" asp-action="Details" asp-route-lectureId="@lecture.Id" asp-route-courseId="@Model.Id" class="list-group-item list-group-item-action">@lecture.Title</a>
                    }
                }
            </div>
        }
    }

    @if (currentUser != null && currentUser.Id == Model.TeacherId)
    {
        <a asp-controller="Lecture" asp-action="CreateLecture" asp-route-courseId="@Model.Id" class="btn btn-primary add-comment-btn">Add Lecture</a>
    }


    <div class="comment-section">
        <h3>Comments:</h3>

        <a asp-controller="Comment" asp-action="AddComment" asp-route-courseId="@Model.Id" class="btn btn-primary add-comment-btn">Add Comment</a>

        @foreach (var comment in Model.Comments)
        {
            if (!comment.DeletedOn.HasValue)
            {
                <div class="card comment-card">
                    <div class="card-body">
                        <h5 class="card-title">@comment.User.FirstName @comment.User.LastName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date: @comment.CreatedOn</h6>
                        <p class="card-text">@comment.Content</p>
                        <div class="likes-box">

                            <form asp-controller="Comment" asp-action="LikeComment" asp-route-courseId="@Model.Id" asp-route-commentId="@comment.Id" method="post">
                                <button type="submit" class="btn btn-link like-btn">
                                    <i class="fas fa-thumbs-up"></i> @comment.Likes
                                </button>
                            </form>

                        </div>
                        @if (currentUser != null && currentUser.Id == comment.ApplicationUserId)
                        {
                            <a asp-controller="Comment" asp-action="EditComment" asp-route-courseId="@Model.Id" asp-route-commentId="@comment.Id" class="btn btn-warning">Edit</a>
                        }
                        @if (currentUser != null && (currentUser.Id == comment.ApplicationUserId || currentUser.UserType == UserType.Admin))
                        {
                            <a asp-controller="Comment" asp-action="DeleteComment" asp-route-courseId="@Model.Id" asp-route-commentId="@comment.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            }
        }
    </div>
</body>

</html/>
