@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AceAttitude.Data.Models
@model List<Course>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Ace Attitude - Courses</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <!-- Example split danger button -->
@*     <div class="btn-group">
        <button type="button" class="btn btn-primary">Level</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
             @for (int i = 0; i < Enum.GetValues(typeof(Level)).Length; i++)
            {
                <li><a class="dropdown-item" asp-controller="Course" asp-action="Index" asp-route-filterParamValue=>@Enum.GetValues(typeof(Level)).GetValue{</a></li>
            }            
        </ul>
    </div> *@

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Teacher</th>
                <th scope="col">Level</th>
                <th scope="col">Age Group</th>
                <th scope="col">Starting Date</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < this.Model.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td><a class="nav-link" asp-controller ="Course" asp-action="Details" asp-route-id="@Model[i].Id">@Model[i].Title</a></td>
                    <td>@Model[i].Teacher.User.FirstName @Model[i].Teacher.User.LastName</td> 
                    <td>@Model[i].Level</td>
                    <td>@Model[i].AgeGroup</td>
                    <td>@Model[i].StartingDate</td>
                    <td>@(Model[i].Rating() >= 0 ? Model[i].Rating().ToString("F2") : "N/A")</td>
                </tr>
            }
        </tbody>
    </table>
    


</body>
</html>