@inject IAuthService AuthService

@{
    ViewData["IsAuthenticated"] = Context.Session.Keys.Contains("CurrentUser");

    var currentUser = Context.Session.Keys.Contains("CurrentUser") ? AuthService.CurrentUser : null;
    ViewData["IsAdmin"] = currentUser?.UserType == UserType.Admin;
    ViewData["IsTeacher"] = currentUser?.UserType == UserType.Teacher;
    ViewData["IsStudent"] = currentUser?.UserType == UserType.Student;

    if (currentUser == null)
    {
        ViewData["PicturePath"] = "~/images/default-user-icon.png";
    }
    else
    {
        ViewData["PicturePath"] = string.IsNullOrEmpty(currentUser.PictureFilePath)
            ? "~/images/default-user-icon.png"
            : currentUser.PictureFilePath;
    }

    var picturePath = ViewData["PicturePath"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Ace Attitude Learning Centre</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="~/css/site.css" />
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/c21727a50d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&display=swap">

    <!-- Styles for the registration modal -->
    <style>
        /* Modal Content */
        #registrationModal .modal-content {
            background-color: #333;
            color: #fff;
        }

        /* Modal Header */
        #registrationModal .modal-header {
            border-bottom: 1px solid #444;
        }

        /* Modal Body */
        #registrationModal .modal-body {
            padding: 20px;
        }

        /* Highlighted class */
        #registrationModal .highlighted {
            border: 2px solid #007bff !important;
            transform: scale(1.1);
        }
    </style>

    <!-- Scripts and Styles for Profile Picture functionality -->
    <style>
        /* Custom navbar */
        .custom-navbar {
            background-color: #4B0082
        }

        /* Profile picture icon */
        .profile-icon {
            width: 30px; /* Adjust as needed */
            height: 30px; /* Adjust as needed */
            margin-top: 4px;
        }

        /* Profile picture options box */
        .profile-options-box {
            position: absolute;
            display: none;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 10px;
            border-radius: 4px;
            z-index: 1000;
        }

        .profile-options-box a {
            display: block;
            padding: 5px;
            color: #333;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .profile-options-box a:hover {
            background-color: #f0f0f0;
        }

        /* Dropdown box style */
        .dropdown-box {
            position: absolute;
            display: none;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 10px;
            border-radius: 4px;
            z-index: 1000;
        }

        .dropdown-box a {
            display: block;
            padding: 5px;
            color: #333;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .dropdown-box a:hover {
            background-color: #f0f0f0;
        }

        .highlighted {
            border: 2px solid #007bff !important;
            transform: scale(1.1);
        }
    </style>

    <style>
        /* Apply the font to the navbar */
        .custom-navbar .navbar-nav .nav-link,
        .custom-navbar .navbar-nav .btn {
            color: #333; /* Choose your desired color */
            font-family: 'Roboto', sans-serif; /* or 'Montserrat', sans-serif; */
            font-weight: 500; /* Choose font weight (400 for normal, 500 for medium) */
            font-size: 16px; /* Choose font size */
            /* Add any additional styling here */
        }

        /* Apply hover effect */
        .custom-navbar .navbar-nav .nav-link:hover,
        .custom-navbar .navbar-nav .btn:hover {
            color: #555; /* Choose your desired hover color */
            /* Add any additional hover styling here */
        }

        .site-name {
            font-family: 'Baloo Tamma 2', cursive;
            color: white; /* Set font color to white */
        }

        /* Set color of the icon to white */
        .navbar-brand .fa-graduation-cap {
            color: white;
        }

        .container-separator {
            padding-top: 50px; /* Add some top padding to push it down */
        }
    </style>

    @RenderSection("Styles", required: false)
</head>

<body style="background-color: #f0f8ff; position: relative;">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar" style="background-color: #4B0082;">
            <a class="navbar-brand" href="/Home/Index">
                <i class="fa-solid fa-graduation-cap"></i> <!-- Font Awesome book with lightbulb icon -->
                <span class="site-name">Ace-Attitude Learning Center</span> <!-- Unique font site name -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto align-items-center">
                    <!-- Added align-items-center class -->
                    @if (!(bool)ViewData["IsAuthenticated"])
                    {
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Login" class="btn" style="color: #fff;">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link register-link" style="color: #fff;">
                                <i class="fas fa-user-plus"></i> Register
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="btn" href="/home/about" style="color: #fff;">
                            <i class="fas fa-info-circle"></i> About
                        </a>
                    </li>
                    <!-- Games Button -->
                    <li class="nav-item">
                        <a asp-controller="Games" asp-action="Index" class="nav-link" style="color: #fff;">
                            <i class="fas fa-gamepad"></i> Games
                        </a>
                    </li>
                    <!-- Age-Group Button with Dropdown -->
                    <li class="nav-item" style="position: relative;">
                        <a class="nav-link" href="#" id="ageGroupButton" style="color: #fff;">
                            <i class="fas fa-child"></i> Age-Group
                        </a>
                        <div class="dropdown-box" id="age-group-options-box">
                            <!-- List of age-groups -->
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="age" asp-route-filterParamValue="Kids" class="btn">Kids</a>
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="age" asp-route-filterParamValue="Teens" class="btn">Teens</a>
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="age" asp-route-filterParamValue="Adults" class="btn">Adults</a>
                        </div>
                    </li>
                    <!-- Level Button with Dropdown -->
                    <li class="nav-item" style="position: relative;">
                        <a class="nav-link" href="#" id="levelButton" style="color: #fff;">
                            <i class="fas fa-layer-group"></i> Level
                        </a>
                        <div class="dropdown-box" id="level-options-box">
                            <!-- List of levels -->
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="level" asp-route-filterParamValue="A1" class="btn">A1</a>
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="level" asp-route-filterParamValue="A2" class="btn">A2</a>
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="level" asp-route-filterParamValue="B1" class="btn">B1</a>
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="level" asp-route-filterParamValue="B2" class="btn">B2</a>
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="level" asp-route-filterParamValue="C1" class="btn">C1</a>
                            <a asp-controller="Course" asp-action="Index" asp-route-filterParam="level" asp-route-filterParamValue="C2" class="btn">C2</a>
                        </div>
                    </li>
                    @if ((bool)ViewData["IsAuthenticated"])
                    {
                        <li class="nav-item" style="margin-left: 10px; position: relative;">
                            <img src="@Url.Content(picturePath)" alt="Profile" class="rounded-circle img-thumbnail profile-icon" id="profile-icon">
                            <!-- List of user actions -->
                            <div class="profile-options-box" id="profile-options-box">
                                <a asp-controller="User" asp-action="Details" asp-route-id="@currentUser.Id" class="text-primary">View Profile</a>
                                <a asp-controller="User" asp-action="Edit" asp-route-id="@currentUser.Id" class="text-primary">Edit Profile</a>
                                @if ((bool)ViewData["IsStudent"])
                                {
                                    <a href="#" class="text-success">My Courses</a>
                                }
                                @if ((bool)ViewData["IsTeacher"] || (bool)ViewData["IsAdmin"])
                                {
                                    <a asp-controller="User" asp-action="TeacherCourses" asp-route-id="@currentUser.Id" class="text-success">My Courses</a>
                                    <a asp-controller="User" asp-action="SearchStudent" class="text-success">Search Students</a>
                                }
                                @if ((bool)ViewData["IsAdmin"])
                                {
                                    <a asp-controller="User" asp-action="Approve" class="text-warning">Approve Users</a>
                                    <a href="#" class="text-warning">Modify Users</a>
                                }
                                <a asp-controller="User" asp-action="Logout" class="text-danger">Sign Out</a>
                            </div>
                        </li>
                    }
                    <li class="nav-item ml-auto">
                        <a class="btn" href="/api/swagger/index.html" style="color: #fff;">
                            <i class="fas fa-code"></i> Developer API
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

<div class="container">
    <main role="main" class="pb-3">
        <!-- Registration Modal -->
        <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrationModalLabel">Choose Account Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Select your account type:</p>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="image" src="~/images/students.png" alt="Student" class="img-fluid mb-2 student-image" style="max-width: 100px;">
                                <p>Register as a student and dive into our courses instantly! Start your learning journey now with expert guidance and engaging content.</p>
                            </div>
                            <div class="col-md-6">
                                <input type="image" src="~/images/teacher.png" alt="Teacher" class="img-fluid mb-2 teacher-image" style="max-width: 100px;">
                                <p>Join us as a teacher! While students get immediate access, teachers await approval to create captivating courses and inspire learners.</p>
                            </div>
                        </div>
                        <div id="submitButtonDiv" style="margin-top: 20px;">
                            <button type="button" id="submitButton" class="btn btn-secondary" disabled>Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="container-separator"> </div>

        @RenderBody()
    </main>
</div>

    <footer class="footer" style="position: fixed; bottom: 10px; right: 10px;">
        <div class="container">
            <span class="text-muted font-family: 'Roboto', sans-serif;">© Copyright @DateTime.Now.Year, Ace Attitude Learning Centre</span>
        </div>
    </footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            function enableSubmitButton() {
                $('#submitButton').prop('disabled', false);
                $('#submitButton').removeClass('btn-secondary').addClass('btn-success');
            }

            var isStudent = null; // Initialize as null

            $(document).ready(function () {
                // Function to enable the submit button
                function enableSubmitButton() {
                    $('#submitButton').prop('disabled', false);
                    $('#submitButton').removeClass('btn-secondary').addClass('btn-success');
                }

                $('.nav-link.register-link').click(function (e) {
                    e.preventDefault(); // Prevent default behavior (navigating to the register page)
                    $('#registrationModal').modal('show');
                });

                // Click event for student image/button
                $('.student-image').click(function () {
                    $('.student-image, .teacher-image').removeClass('highlighted');
                    $(this).addClass('highlighted');
                    isStudent = true; // Set isStudent to true for student registration
                    enableSubmitButton();
                });

                // Click event for teacher image/button
                $('.teacher-image').click(function () {
                    $('.student-image, .teacher-image').removeClass('highlighted');
                    $(this).addClass('highlighted');
                    isStudent = false; // Set isStudent to false for teacher registration
                    enableSubmitButton();
                });

                // Add click event for submit button
                $('#submitButton').click(function () {
                    // Redirect to the Register action with the isStudent parameter
                    window.location.href = '/User/Register?isStudent=' + isStudent;
                });
            });

            // Profile Picture Functionality
            $('#profile-icon').click(function () {
                $(this).toggleClass('profile-icon-clicked');
                $('.profile-options-box').toggle(); // Corrected selector

                // Toggle highlighted class
                if ($(this).hasClass('profile-icon')) 
                {
                    if($(this).hasClass('highlighted'))
                    {
                        $(this).removeClass('highlighted');
                    }
                    else
                    {
                        $(this).addClass('highlighted');
                    }
                }
            });
        });
    </script>

    <script>
        // Level Button click event
        $('#levelButton').click(function (e) {
            e.preventDefault();
            $('#level-options-box').toggle(); // Toggle visibility of level options box
            $('#age-group-options-box').hide(); // Hide age-group options box if visible
        });

        // Age-Group Button click event
        $('#ageGroupButton').click(function (e) {
            e.preventDefault();
            $('#age-group-options-box').toggle(); // Toggle visibility of age-group options box
            $('#level-options-box').hide(); // Hide level options box if visible
        });

        // Close dropdown menus if user clicks outside
        $(document).click(function (e) {
            if (!$(e.target).closest('.nav-item').length) {
                $('.dropdown-box').hide(); // Hide all dropdown boxes
            }
        });
    </script>

@RenderSection("Scripts", required: false)
</body>
</html>